@use "variables" as v;
@use "reset";
@use "mixin" as m;

// TITRE ANIME *******************************************************************
.containerCv {
    background: url("../img/web.jpg");
    background-size: cover;
    height: 110vh;
    // overflow-y: hidden;
    .letter-container {
        text-align: center;
        perspective: 100rem;
        z-index: -1;
        padding-top: 10rem;

        h1 {
            font-family: v.$fatFont;
            transform-style: preserve-3d;
            display: inline-flex;
            // margin-top: 10rem;
            color: v.$purple;
            font-weight: 100;
            letter-spacing: 1rem;
            font-size: 10rem;
            cursor: pointer;
            text-transform: uppercase;
            // background: rgba(255, 166, 0, 0.464);
            text-shadow: 0.3rem 0.3rem v.$shadow-white;

            span {
                pointer-events: none;
            }
        }
    }

    .container-carreAnim {
        display: flex;

        .carreAnim {
            background-size: cover;
            max-width: 42rem;
            height: 42rem;
            margin-left: 10%;
            display: flex;
            padding: 0;
            position: absolute;

            .pic {
                width: 42rem;
                height: 42rem;
                position: absolute;
                margin-top: 2rem;
                box-shadow: 1rem 1rem 1rem 1rem v.$darkgrey;
            }
            .carre {
                width: 40rem;
                height: 40rem;
                position: relative;
            }
            // .centre {
            //     // margin-top: -25rem;
            //     // margin-top: -25rem;
            //     // top: 10rem;
            //     width: 15rem;
            //     height: 15rem;
            //     margin-left: 12rem;
            //     margin-top: -50rem;
            .pTriangle {
                font-family: v.$fatFont;
                color: v.$text-white;
                font-size: 3.5rem;
                position: absolute;
                // z-index: -0.5;
                // display: ;
            }
            // }
            .haut {
                z-index: 2;

                margin-top: -10.2rem;
                position: relative;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                filter: invert(43%) sepia(34%) saturate(0%) hue-rotate(224deg) brightness(103%) contrast(88%)
                    opacity(75%);
                // position: absolute;
                &:hover {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                    z-index: 2;
                    filter: invert(42%) sepia(80%) saturate(5996%) hue-rotate(166deg) brightness(101%) contrast(74%)
                        opacity(75%);
                    .pHaut {
                        opacity: 1;
                        // color: ;
                    }
                }
            }
            .pHaut {
                padding: 5rem;
                top: 1%;
                right: 15%;

                // opacity: 0.1;
                // &:hover {
                //     opacity: 1;
                //     // color: white;
                //      z-index: 5;
                // }
            }

            .droite {
                z-index: 4;

                margin-top: 3rem;
                margin-left: -14.5rem;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                // filter: invert(53%) sepia(63%) saturate(474%) hue-rotate(66deg) brightness(95%) contrast(91%)
                //     opacity(65%);
                filter: invert(43%) sepia(34%) saturate(0%) hue-rotate(224deg) brightness(103%) contrast(88%)
                    opacity(75%);

                &:hover {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                    z-index: 4;
                    filter: invert(42%) sepia(80%) saturate(5996%) hue-rotate(166deg) brightness(101%) contrast(74%)
                        opacity(75%);
                    //
                }
            }
            .pDroite {
                z-index: 3;

                padding: 5rem;
                top: 8%;
                left: 75%;
                writing-mode: vertical-rl;
                text-orientation: upright;
                letter-spacing: -1.5rem;
            }
            .gauche {
                z-index: 4;

                margin-top: 3rem;
                margin-right: -15rem;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                // filter: invert(10%) sepia(48%) saturate(6686%) hue-rotate(240deg) brightness(83%) contrast(124%)
                //     opacity(50%);
                filter: invert(43%) sepia(34%) saturate(0%) hue-rotate(224deg) brightness(103%) contrast(88%)
                    opacity(75%);
                &:hover {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                    z-index: 4;
                    filter: invert(42%) sepia(80%) saturate(5996%) hue-rotate(166deg) brightness(101%) contrast(74%)
                        opacity(75%);
                }
            }
            .pGauche {
                z-index: 3;

                padding: 5rem;
                top: 7%;
                right: 75%;
                writing-mode: vertical-rl;
                text-orientation: upright;
                // line-height: 1rem;
                letter-spacing: -2rem;
            }

            .bas {
                z-index: 2;

                // z-index: 4;
                margin-top: -13.9rem;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                // filter: invert(12%) sepia(63%) saturate(5174%) hue-rotate(6deg) brightness(96%) contrast(120%)
                //     opacity(50%);
                filter: invert(43%) sepia(34%) saturate(0%) hue-rotate(224deg) brightness(103%) contrast(88%)
                    opacity(75%);
                &:hover {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                    z-index: 2;
                    filter: invert(42%) sepia(80%) saturate(5996%) hue-rotate(166deg) brightness(101%) contrast(74%)
                        opacity(75%);
                }
            }
            .pBas {
                z-index: 1;
                padding: 5rem;
                top: 75%;
                right: 25%;
            }

            .haut-centre-bas {
                margin: 0;
            }
        }
        .sectionCV {
            position: absolute;
            width: 50%;
            right: 8%;
            @include m.bg-cv-text;
            span {
                font-weight: 800;
                font-family: v.$fatFont;
            }

            h2 {
                text-align: justify;
                font-family: v.$fatFont;
            }
            .l4{
                width: 80%;
                height: 0.2rem;
                background-color: v.$purple;
                margin-bottom: 3rem;

            }
        }
        .school {
            top: 40%;
            opacity: 0;
            .logExp {
                @include m.logo-apropos;
                 }
            
        }
        .exp {
            top: 35%;
            opacity: 0;
            .logExp {
           @include m.logo-apropos;
            }
        }
        .qualit {
            text-align: justify;
            top: 50%;
            opacity: 1;
            p{
                margin-top: 5rem;
            }
        
            .logExp {
                @include m.logo-apropos;
                 }
        }
    }

    .wrap-language {
        opacity: 0;
        margin: 8rem;
        z-index: 4;
        position: absolute;

        .containerSlot {
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translate(-50%, -50%);
            .btnConfettis {
                width: 10rem;
                height: 10rem;
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: none;
                cursor: pointer;
                outline: none;
                box-shadow: 0 0.7rem 0 v.$third-dark;
            }
            .btnConfettis:active {
                margin-top: 0.7rem;
                box-shadow: 0 0 0 v.$third-dark;
            }
            .slot {
                position: relative;
                perspective: 100rem;
            }
            .slot div {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                user-select: none;
            }
        }
        .language {
            z-index: 2;
            @include m.bg-cv;
            width: 55%;
            margin-left: 60rem;
            .lang {
                background: v.$text-white;
                border-radius: 50%;
                width: 10rem;
                height: 10rem;
                margin: 1rem;
                border: 0.2rem solid v.$purple;
                box-shadow: 0.3rem 0.7rem 0.5rem v.$third-dark;
                padding: 0.5rem;
                img {
                    width: 100%;
                }
            }
        }
    }
    .hobbies {
        opacity: 0;
        // z-index: 5;
        position: absolute;
        @include m.bg-cv;
        margin: 3rem;
        width: 50%;
        margin-left: 42%;
        top: 35%;
        .hob {
            background: v.$text-white;
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            margin: 1rem;
            border: 0.2rem solid v.$purple;
            box-shadow: 0.3rem 0.7rem 0.5rem v.$third-dark;
            padding: 1.5rem;
            h3 {
                text-align: center;
                font-family: v.$fatFont;
                font-weight: 200;
            }

            img {
                width: 100%;
            }
        }
    }
}
