@use "variables" as v;
@use "reset";

// TITRE ANIME *******************************************************************

.letter-container {
    text-align: center;
    perspective: 100rem;

    h1 {
        font-family: v.$fatFont;
        transform-style: preserve-3d;
        display: inline-flex;
        // margin-top: 10rem;
        color: v.$darkgrey;
        font-weight: 100;
        letter-spacing: 1rem;
        font-size: 10rem;
        cursor: pointer;
        text-transform: uppercase;
        // background: rgba(255, 166, 0, 0.464);

        span {
            pointer-events: none;
        }
    }
}

.container-carreAnim {
    display: flex;

    .carreAnim {
        background-size: cover;
        max-width: 42rem;
        height: 42rem;
        margin-left: 10%;
        display: flex;
        padding: 0;
        .pic {
            width: 42rem;
            height: 42rem;
            position: absolute;
            margin-top: 2rem;
        }
        .carre {
            width: 40rem;
            height: 40rem;
            position: relative;
        }
        // .centre {
        //     // margin-top: -25rem;
        //     // margin-top: -25rem;
        //     // top: 10rem;
        //     width: 15rem;
        //     height: 15rem;
        //     margin-left: 12rem;
        //     margin-top: -50rem;
        // }
        .haut {
            margin-top: -10.2rem;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            filter: invert(100%) sepia(98%) saturate(7499%) hue-rotate(347deg) brightness(103%) contrast(106%)
                opacity(50%);
            // position: absolute;
            &:hover {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
                z-index: 2;
            }
        }

        .droite {
            margin-top: 3rem;
            margin-left: -14.5rem;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            filter: invert(53%) sepia(63%) saturate(474%) hue-rotate(66deg) brightness(95%) contrast(91%) opacity(65%);
            &:hover {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
                z-index: 2;
                //
            }
        }
        .gauche {
            margin-top: 3rem;
            margin-right: -15rem;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            filter: invert(10%) sepia(48%) saturate(6686%) hue-rotate(240deg) brightness(83%) contrast(124%)
                opacity(50%);
            &:hover {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
                z-index: 2;
            }
        }
        .bas {
            margin-top: -13.9rem;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            filter: invert(12%) sepia(63%) saturate(5174%) hue-rotate(6deg) brightness(96%) contrast(120%) opacity(50%);
            &:hover {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
                z-index: 2;
            }
        }

        .haut-centre-bas {
            margin: 0;
        }
    }
    .sectionCV {
        position: absolute;
        width: 50%;
        top: 40%;
        // margin-left: 15rem;
        h2 {
            margin-bottom: 3rem;
            text-align: center;
        }
    }
    .school {
        right: 3%;
        display: none;
    }
    .exp {
        right: 1%;
        display: none;
    }
    .qualit {
        right: 3%;
        display: none;
    }
}

.containerSlot {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    .btn-confettis {
        width: 10rem;
        height: 10rem;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        box-shadow: 0 0.7rem 0 v.$third-dark;
    }
    .btn-confettis:active {
        margin-top: 0.7rem;
        box-shadow: 0 0 0 v.$third-dark ;
    }
    .slot{
        position: relative;
        perspective: 100rem;
    }
    .slot div {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        user-select: none;
    }
}
