@use "variables" as v;
@use "reset";
@use "mixin" as m;

.bgDetail {
    background: url("../img/wood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 145vh;
    h1 {
        font-family: v.$fatFont;
        padding-top: 10rem;
        text-align: center;
        font-size: 8rem;
        color: v.$purple;
        text-shadow: 0.3rem 0.3rem v.$shadow-white;
        background-color: rgba(255, 255, 255, 0.26);
        // margin: 0 20%;
        // border-radius: 2rem;
        @media screen and(max-width: v.$md-breakpoint) {
          font-size: 5rem;
          padding-top: 3rem;
        }
    }

    .work-details {
        padding: 0 3rem;
        display: flex;
        // width: 80rem;
        justify-content: center;
        @media screen and(max-width: v.$xl-breakpoint) {
            flex-direction: column;
            align-items: center;
        }
        .picturesProject {
            img {
                margin-top: 10rem;
                width: 90rem;
                padding: 3rem;
                background-color: v.$purple;
                box-shadow: 0.5rem 0.5rem 1rem v.$darkgrey;
                @media screen and(max-width: v.$lg-breakpoint) {
                    width: 70rem;
                    padding: 2rem;
                    margin-top: 3rem;
                }
                @media screen and(max-width: v.$md-breakpoint) {
                    width: 50rem;
                    padding: 1rem;
                }
                @media screen and(max-width: v.$sm-breakpoint) {
                    width: 30rem;
                  
                }
            }
        }
        .txtProject {
            // padding: 5rem 1rem 0 1rem;
            background-color: #f1f1f1b0;
            // margin: 5rem;
            border-radius: 2rem;
            // padding: 4rem 8rem 1rem 2rem;
            margin: 12rem 5rem;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin: 0 15rem;
            font-size: 5rem;
            // padding: 5rem;
            box-shadow: 0.5rem 0.5rem 1rem v.$darkgrey;
            @media screen and(max-width: v.$md-breakpoint) {
               margin: 5rem 3rem;
                padding: 1rem;
            }
            .responsive {
                display: flex;
                .wrap-resp {
                    background: v.$purple;
                    border-radius: 50%;
                    width: 6rem;
                    height: 6rem;
                    margin: 2rem;
                    border: 0.1rem solid v.$text-white;
                    box-shadow: 0.3rem 0.7rem 0.5rem v.$third-dark;

                    // margin: 2rem;
                    img {
                        width: 100%;
                        padding: 1rem;
                        // margin-top: 3rem;
                        // filter: invert(44%) sepia(58%) saturate(541%) hue-rotate(136deg) brightness(94%) contrast(90%);
                        filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
                    }
                }
            }

            p {
                text-align: center;
                margin: 3rem 0 0 0;
                font-size: 2rem;
                @media screen and(max-width: v.$md-breakpoint) {
                  font-size: 1.5rem;
                }
                a {
                    @include m.btn2;
                    background-color: v.$purple;
                    color: v.$cream;
                    display: inline;
                    flex-wrap: nowrap;
                    // padding: 3rem 0;
                }
            }
            h2 {
                margin-top: 5rem;
                font-family: v.$fatFont;
                font-size: 4rem;
                color: v.$purple;
            }
        }
    }

    .techno {
        img {
            width: 20rem;
            height: 20rem;
        }
    }
}
