@use "variables" as v;
@use "reset";
// @use "mixin" as m;

@mixin input-style {
    border-radius: 0.5rem;
    border: 0.2rem solid v.$darkgrey;
    background: v.$cream;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    padding: 1rem;
    width: 40rem;
    font-family: v.$fatFont;
}

@mixin btn {
    width: 80%;
    margin: 0 10%;
    // margin-left: 30%;
    // text-align: center;
    // display: flex;
    // justify-content: center;
    height: 8rem;
    font-family: v.$fatFont;
    font-size: 4rem;
    border: 0.2rem solid v.$darkgrey;
    border-radius: 0.5rem;
    background: v.$purple;
    color: v.$cream;
    box-shadow: 1rem 1rem 1rem black;
    &:hover {
        background: v.$second-dark;
        color: v.$purple;
    }
    &:active {
        margin-top: 0.7rem;
        box-shadow: 0 0 0 v.$third-dark;
    }
    @media screen and(max-width: v.$sm-breakpoint) {
        font-size: 2rem;

        }
}
@mixin btn2 {
    border: 0.2rem solid v.$text-white;
    border-radius: 1rem;
    // outline: none;
    // background: transparent;
    background: rgba(237, 237, 237, 0.4);
    font-size: 3rem;
    padding: 2rem;
    // height: 15rem;
    box-shadow: 1rem 1rem 0.5rem v.$darkgrey;
    // margin: 0;
    // text-align: justify;
    margin: 0.5rem 3rem;
    &:active {
        margin-top: 0.7rem;
        box-shadow: 0 0 0 v.$third-dark;
    }
    @media screen and(max-width: v.$xl-breakpoint) {
        width: 100%;
        font-size: 2rem;
        padding: 1rem;
        margin: 1rem;
        // margin: 2rem 25%;
        right: 2%;

        }
    @media screen and(max-width: v.$sm-breakpoint) {
       width: 80%;

        }
}


@mixin bg-cv {
    background: v.$shadow-white;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 0.5rem v.$darkgrey;
    margin: 0 0% 0 45% ;
    // padding: 4rem;
    line-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    // padding-top: 5rem;
    justify-content: space-between;

}

@mixin bg-cv-text {
    background: v.$shadow-white;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 0.5rem v.$darkgrey;
    margin-left: 40%;
}

@mixin logo-apropos {
    position: absolute;
    right: 3%;
    top: 1%;
    // bottom: 1%;
    background: v.$purple;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    // margin: 1rem;
    border: 0.2rem solid v.$text-white;
    box-shadow: 0.3rem 0.7rem 0.5rem v.$third-dark;
    padding: 1rem;
    @media screen and(max-width: v.$sm-breakpoint) {
      width: 5rem;
      height: 5rem;
      padding: 00.2rem;
    top: -7%;
    right: -1%;
    }

    img {
        width: 90%;
        // position: absolute;
        // right: 3%;
        // top: 2%;
        transform: rotate(25deg) translateX(0.5rem);
        filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
      
    }
}


@mixin logo-picture{
    position: absolute;
    z-index: 5;


    img {
        @include logo-apropos;
        background-color: rgba(250, 235, 215, 0);
    }
    &:hover img{
        filter: invert(44%) sepia(99%) saturate(365%) hue-rotate(136deg) brightness(87%) contrast(85%);
    }
}