@use "variables" as v;
@use "reset";
@use "mixin" as m;
.main {
    width: 100%;

    .wrapProjects {
        height: 200vh;
        background: v.$darkgrey url("../img/wood.jpg");
        // background: v.$shadow-white;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and(max-width: v.$xl-breakpoint) {
           height: 135vh;
        }
        @media screen and(max-width: v.$lg-breakpoint) {
           height: 115vh;
        }
        @media screen and(max-width: v.$md-breakpoint) {
           height: 50vh;
        }
        @media screen and(max-width: v.$md-breakpoint) {
           height: 100vh;
        }
        // padding-top: 5rem;
        p {
            // color: v.$darkgrey;
            font-family: v.$playfair;
            font-size: 12rem;
            margin: 0;
            position: absolute;
            @media screen and(max-width: v.$xl-breakpoint) {
                font-size: 8rem;
            }
            @media screen and(max-width: v.$lg-breakpoint) {
                font-size: 5rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                font-size: 4rem;
            }

            a {
                text-shadow: 0.4rem 0.4rem 0.3rem rgba(95, 94, 94, 0.774);
                background-color: #f1f1f181;
                // padding: 0 2rem;
                border-radius: 2rem;
                box-shadow: 0.2rem 0.2rem 0.5rem v.$darkgrey;
                // -webkit-transition: 0.3s ease-in-out;
                // transition: 0.3s ease-in-out;
            }
            // &:hover a {
            //     -webkit-transform: scale(1.3);
            //     transform: scale(1.3);
            // }
        }

        p:nth-child(1) {
            top: 13rem;
            left: 65rem;
            z-index: 1;

            a {
                color: v.$blue;
            }
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 65rem;
            }
            @media screen and(max-width: v.$lg-breakpoint) {
                left: 50rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                left: 40rem;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
                left: 20rem;
            }
        }
        p:nth-child(2) {
            top: 35rem;
            left: 2rem;
            z-index: 1;

            a {
                color: v.$green;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
                top: 20rem;
            }
        }

        p:nth-child(3) {
            top: 60rem;
            left: 65rem;
            z-index: 2;
            a {
                color: v.$yellow;
            }
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 55rem;
            }
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 45rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                top: 48rem;
                left: 37rem;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
             
                left: 17rem;
            }
        }
        p:nth-child(4) {
            top: 105rem;
            left: 35rem;
            z-index: 3;
            a {
                
                color: v.$purple;
            }
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 15rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                top: 72rem;
                left: 5rem;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
             top: 65rem;
                left: 2rem;
            }
        }
        p:nth-child(5) {
            top: 145rem;
            left: 85rem;
            z-index: 4;

            a {
                color: v.$red;

            }
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 65rem;
            }
            @media screen and(max-width: v.$lg-breakpoint) {
                left: 45rem;
                top: 130rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                top: 95rem;
                left: 42rem;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
             top: 85rem;
                left: 23rem;
            }
        }

        .logoMM {
            top: 50rem;
            left: 40rem;
            position: absolute;

            img {
                filter: invert(90%) sepia(1%) saturate(0%) hue-rotate(151deg) brightness(85%) contrast(84%) opacity(50%);
            }
        }
        .logoMM1 {
            top: 50rem;
            left: 58rem;
            img {
                width: 20rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                display: none;
            }
        }
        .logoMM2 {
            top: 30rem;
            left: 70rem;
            img {
                width: 10rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                top: 28rem;
                left: 15rem;
            }
        }
        .logoMM3 {
            top: 75rem;
            left: 90rem;
            img {
                width: 15rem;
            }
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 8rem;
            }
        }
        .logoMM4 {
            top: 90rem;
            left: 5rem;
            img {
                width: 5rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                display: none;
            }
        }
        .logoMM5 {
            top: 100rem;
            left: 120rem;
            img {
                width: 5rem;
            }
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 68rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
               display: none;
            }
        }
        .logoMM6 {
            top: 115rem;
            left: 35rem;
            img {
                width: 15rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                display: none;
            }
        }
        .logoMM7 {
            top: 120rem;
            left: 15rem;
            img {
                width: 10rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                display: none;
            }
        }
        .logoMM8 {
            top: 100rem;
            left: 50rem;
            img {
                width: 15rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                display: none;
            }
        }
        .box {
            position: absolute;
            box-shadow: 0.5rem 0.5rem 0.4rem v.$darkgrey;
            width: 40%;
            img {
                width: 100%;
                padding: 2%;
                // @media screen and(max-width: v.$lg-breakpoint) {
                //     width: 30rem;
                //     // padding: 1rem;
                // }
                // @media screen and(max-width: v.$md-breakpoint) {
                //     width: 25rem;
                //     // padding: 0.5rem;
                // }
                // @media screen and(max-width: v.$sm-breakpoint) {
                //     width: 15rem;
                //     // padding: 0.5rem;
                // }
            }
        }

        .box1 {
            top: 10rem;
            left: 5rem;
            background: v.$blue;
            @media screen and(max-width: v.$md-breakpoint) {
                top: 10rem;
                left: 1rem;
            }
        }
        .box2 {
            top: 35rem;
            left: 105rem;
            background: v.$green;
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 65rem;
            }
            @media screen and(max-width: v.$lg-breakpoint) {
                left: 45rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                top: 28rem;
                left: 35rem;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
                top: 28rem;
                left: 20rem;
            }
        }
        .box3 {
            top: 60rem;
            left: 15rem;
            background: v.$yellow;
            @media screen and(max-width: v.$xl-breakpoint) {
                left: 5rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                top: 45rem;
                left: 5rem;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
                top: 35rem;
                left: 1rem;
            }
        }

        .box4 {
            top: 90rem;
            left: 100rem;
            background: v.$purple;

            @media screen and(max-width: v.$xl-breakpoint) {
                left: 62rem;
            }
            @media screen and(max-width: v.$lg-breakpoint) {
                left: 40rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                top: 70rem;
                left: 35rem;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
           top: 60rem;
                left: 20rem;
            }
        }
        .box5 {
            top: 110rem;
            left: 25rem;
            background: v.$red;

            @media screen and(max-width: v.$xl-breakpoint) {
                left: 10rem;
                top: 125rem;
            }
            @media screen and(max-width: v.$md-breakpoint) {
                top: 87rem;
                left: 5rem;
            }
            @media screen and(max-width: v.$sm-breakpoint) {
           top: 75rem;
                left: 1rem;
            }
        }
    }

    .db {
        padding-top: 150rem;
        .products {
            h1 {
                font-family: v.$fatFont;
                font-size: 5rem;
                color: black;
            }
            img {
                width: 50rem;
            }
        }
    }
}
