@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background: rgba(114, 114, 114, 0.219);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #222;
}

ul {
  list-style: none;
}

.containerCv {
  background: url("../img/web.jpg");
  background-size: cover;
  height: 145vh;
  background-position: center;
}
@media screen and (max-width: 1200px) {
  .containerCv {
    height: 220vh;
  }
}
@media screen and (max-width: 576px) {
  .containerCv {
    height: 140vh;
  }
}
.containerCv .letter-container {
  text-align: center;
  perspective: 100rem;
  z-index: -1;
  padding-top: 10rem;
}
@media screen and (max-width: 992px) {
  .containerCv .letter-container {
    padding-top: 2rem;
  }
}
.containerCv .letter-container h1 {
  font-family: Abril fatface, sans-serif;
  transform-style: preserve-3d;
  display: inline-flex;
  color: #218e96;
  font-weight: 100;
  letter-spacing: 1rem;
  font-size: 10rem;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem rgba(197, 197, 198, 0.8823529412);
}
@media screen and (max-width: 768px) {
  .containerCv .letter-container h1 {
    font-size: 8rem;
  }
}
@media screen and (max-width: 576px) {
  .containerCv .letter-container h1 {
    font-size: 4rem;
  }
}
.containerCv .letter-container h1 span {
  pointer-events: none;
}
.containerCv .container-carreAnim {
  display: flex;
  margin-left: 10%;
}
@media screen and (max-width: 1200px) {
  .containerCv .container-carreAnim {
    width: 60%;
    margin: 0 30%;
  }
}
@media screen and (max-width: 992px) {
  .containerCv .container-carreAnim {
    width: 60%;
    margin: 0 20%;
  }
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim {
    width: 40rem;
  }
}
.containerCv .container-carreAnim .carreAnim {
  background-size: cover;
  width: 42rem;
  height: 42rem;
  display: flex;
  padding: 0;
  position: absolute;
}
.containerCv .container-carreAnim .carreAnim .pic {
  width: 42rem;
  height: 42rem;
  position: absolute;
  margin-top: 2rem;
  box-shadow: 1rem 1rem 1rem 1rem #333;
  border: 0.3rem solid #218e96;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .carreAnim .pic {
    width: 27rem;
    height: 27rem;
  }
}
.containerCv .container-carreAnim .carreAnim .carre {
  width: 40rem;
  height: 40rem;
  position: relative;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .carreAnim .carre {
    width: 25rem;
    height: 25rem;
  }
}
.containerCv .container-carreAnim .carreAnim .pTriangle {
  font-family: Abril fatface, sans-serif;
  color: #f1f1f1;
  font-size: 3.5rem;
  position: absolute;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .carreAnim .pTriangle {
    font-size: 2.5rem;
  }
}
.containerCv .container-carreAnim .carreAnim .droite {
  top: 7%;
  right: 71%;
  position: relative;
  filter: invert(43%) sepia(34%) saturate(0%) hue-rotate(224deg) brightness(103%) contrast(88%) opacity(75%);
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .carreAnim .droite {
    margin-top: 2rem;
    top: 2%;
    right: 43%;
  }
}
.containerCv .container-carreAnim .carreAnim .gauche {
  position: relative;
  top: 7%;
  margin-left: 0.5%;
  filter: invert(43%) sepia(34%) saturate(0%) hue-rotate(224deg) brightness(103%) contrast(88%) opacity(75%);
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .carreAnim .gauche {
    top: 7%;
  }
}
.containerCv .container-carreAnim .carreAnim .haut-centre-bas {
  margin: 0;
}
.containerCv .container-carreAnim .carreAnim .haut-centre-bas .haut {
  right: 15rem;
  top: -10rem;
  position: relative;
  filter: invert(43%) sepia(34%) saturate(0%) hue-rotate(224deg) brightness(103%) contrast(88%) opacity(75%);
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .carreAnim .haut-centre-bas .haut {
    right: 35%;
    top: -13%;
  }
}
.containerCv .container-carreAnim .carreAnim .haut-centre-bas .bas {
  bottom: 58%;
  right: 38%;
  filter: invert(43%) sepia(34%) saturate(0%) hue-rotate(224deg) brightness(103%) contrast(88%) opacity(75%);
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .carreAnim .haut-centre-bas .bas {
    bottom: 33%;
    right: 37%;
  }
}
.containerCv .container-carreAnim .logo-carre {
  position: absolute;
  z-index: 5;
}
.containerCv .container-carreAnim .logo-carre img {
  position: absolute;
  right: 3%;
  top: 1%;
  background: #218e96;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 0.2rem solid #f1f1f1;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
  padding: 1rem;
  background-color: rgba(250, 235, 215, 0);
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .logo-carre img {
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    top: -7%;
    right: -1%;
  }
}
.containerCv .container-carreAnim .logo-carre img img {
  width: 90%;
  transform: rotate(25deg) translateX(0.5rem);
  filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
}
.containerCv .container-carreAnim .logo-carre:hover img {
  filter: invert(44%) sepia(99%) saturate(365%) hue-rotate(136deg) brightness(87%) contrast(85%);
}
.containerCv .container-carreAnim .logo-carre .phaut {
  top: -37rem;
  left: 65%;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .logo-carre .phaut {
    top: -22rem;
    left: 1rem;
  }
}
.containerCv .container-carreAnim .logo-carre .pgauche {
  top: 18.5rem;
  left: 1rem;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .logo-carre .pgauche {
    top: 12.5rem;
  }
}
.containerCv .container-carreAnim .logo-carre .pbas {
  top: -47rem;
  left: 0rem;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .logo-carre .pbas {
    top: -28rem;
    left: 1rem;
  }
}
.containerCv .container-carreAnim .logo-carre .pdroite {
  top: 18.5rem;
  left: 32rem;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .logo-carre .pdroite {
    top: 12.5rem;
    left: 20rem;
  }
}
.containerCv .container-carreAnim .sectionCV {
  position: absolute;
  width: 50%;
  right: 8%;
  background: rgba(197, 197, 198, 0.8823529412);
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #333;
  margin-left: 40%;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .sectionCV {
    font-size: 1.2rem;
  }
}
.containerCv .container-carreAnim .sectionCV span {
  font-weight: 800;
  font-family: Abril fatface, sans-serif;
}
.containerCv .container-carreAnim .sectionCV h2 {
  text-align: justify;
  font-family: Abril fatface, sans-serif;
  font-size: 4rem;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .sectionCV h2 {
    font-size: 2.5rem;
  }
}
.containerCv .container-carreAnim .sectionCV .l4 {
  width: 80%;
  height: 0.2rem;
  background-color: #218e96;
  margin-bottom: 3rem;
}
.containerCv .container-carreAnim .school {
  top: 40%;
  opacity: 0;
  background: rgba(197, 197, 198, 0.8823529412);
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #333;
  margin-left: 40%;
}
.containerCv .container-carreAnim .school .logExp {
  position: absolute;
  right: 3%;
  top: 1%;
  background: #218e96;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 0.2rem solid #f1f1f1;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .school .logExp {
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    top: -7%;
    right: -1%;
  }
}
.containerCv .container-carreAnim .school .logExp img {
  width: 90%;
  transform: rotate(25deg) translateX(0.5rem);
  filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
}
@media screen and (max-width: 1200px) {
  .containerCv .container-carreAnim .school {
    top: 80rem;
    right: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .containerCv .container-carreAnim .school {
    top: 70rem;
  }
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .school {
    top: 50rem;
  }
}
.containerCv .container-carreAnim .exp {
  top: 35%;
  opacity: 0;
}
@media screen and (max-width: 1200px) {
  .containerCv .container-carreAnim .exp {
    top: 80rem;
    right: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .containerCv .container-carreAnim .exp {
    top: 70rem;
  }
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .exp {
    top: 50rem;
  }
}
.containerCv .container-carreAnim .exp .logExp {
  position: absolute;
  right: 3%;
  top: 1%;
  background: #218e96;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 0.2rem solid #f1f1f1;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .exp .logExp {
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    top: -7%;
    right: -1%;
  }
}
.containerCv .container-carreAnim .exp .logExp img {
  width: 90%;
  transform: rotate(25deg) translateX(0.5rem);
  filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
}
.containerCv .container-carreAnim .qualit {
  text-align: justify;
  top: 50%;
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  .containerCv .container-carreAnim .qualit {
    top: 80rem;
    right: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .containerCv .container-carreAnim .qualit {
    top: 80rem;
  }
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .qualit {
    top: 50rem;
  }
}
.containerCv .container-carreAnim .qualit p {
  margin-top: 5rem;
}
.containerCv .container-carreAnim .qualit .logExp {
  position: absolute;
  right: 3%;
  top: 1%;
  background: #218e96;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 0.2rem solid #f1f1f1;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .containerCv .container-carreAnim .qualit .logExp {
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    top: -7%;
    right: -1%;
  }
}
.containerCv .container-carreAnim .qualit .logExp img {
  width: 90%;
  transform: rotate(25deg) translateX(0.5rem);
  filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
}
.containerCv .wrap-language {
  opacity: 0;
  margin: 3rem;
}
.containerCv .wrap-language .language {
  z-index: 4;
  position: absolute;
  top: 35%;
  background: rgba(197, 197, 198, 0.8823529412);
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #333;
  margin: 0 0% 0 45%;
  line-height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 45%;
}
.containerCv .wrap-language .language .titleAp {
  width: 100%;
}
.containerCv .wrap-language .language .titleAp h2 {
  font-family: Abril fatface, sans-serif;
}
.containerCv .wrap-language .language .titleAp .l4 {
  width: 80%;
  height: 0.2rem;
  background-color: #218e96;
  margin-bottom: 2rem;
}
.containerCv .wrap-language .language .titleAp .logExp {
  position: absolute;
  right: 3%;
  top: 1%;
  background: #218e96;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 0.2rem solid #f1f1f1;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .containerCv .wrap-language .language .titleAp .logExp {
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    top: -7%;
    right: -1%;
  }
}
.containerCv .wrap-language .language .titleAp .logExp img {
  width: 90%;
  transform: rotate(25deg) translateX(0.5rem);
  filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
}
.containerCv .wrap-language .language h2 {
  text-align: justify;
  font-family: Abril fatface, sans-serif;
  font-size: 3.5rem;
}
@media screen and (max-width: 576px) {
  .containerCv .wrap-language .language h2 {
    font-size: 2.5rem;
    text-align: start;
  }
}
.containerCv .wrap-language .language .l4 {
  width: 80%;
  height: 0.2rem;
  background-color: #218e96;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  .containerCv .wrap-language .language {
    margin-left: 10%;
    margin-top: 42rem;
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .containerCv .wrap-language .language {
    top: 35%;
  }
}
@media screen and (max-width: 576px) {
  .containerCv .wrap-language .language {
    margin-left: 0;
    top: 10%;
  }
}
.containerCv .wrap-language .language .wrap-lang {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.containerCv .wrap-language .language .wrap-lang .lang {
  background: #f1f1f1;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border: 0.4rem solid #218e96;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
  padding: 0.5rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 576px) {
  .containerCv .wrap-language .language .wrap-lang .lang {
    width: 6rem;
    height: 6rem;
  }
}
.containerCv .wrap-language .language .wrap-lang .lang img {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .containerCv .wrap-language .language .wrap-lang .lang img {
    filter: none;
  }
}
.containerCv .wrap-language .language .wrap-lang .lang img:hover {
  filter: none;
}
.containerCv .wrap-language .language .wrap-lang .lang:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.containerCv .hobbies {
  opacity: 0;
  z-index: 4;
  position: absolute;
  top: 30%;
  background: rgba(197, 197, 198, 0.8823529412);
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #333;
  margin: 0 0% 0 45%;
  line-height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
  width: 45%;
}
@media screen and (max-width: 1200px) {
  .containerCv .hobbies {
    margin-left: 12.5%;
    margin-top: 60rem;
    width: 75%;
  }
}
@media screen and (max-width: 992px) {
  .containerCv .hobbies {
    margin-top: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .containerCv .hobbies {
    top: 30%;
  }
}
@media screen and (max-width: 576px) {
  .containerCv .hobbies {
    top: 5%;
  }
}
.containerCv .hobbies .titleAp {
  width: 100%;
}
.containerCv .hobbies .titleAp h2 {
  font-size: 4rem;
  text-align: justify;
  font-family: Abril fatface, sans-serif;
  left: 10%;
}
@media screen and (max-width: 576px) {
  .containerCv .hobbies .titleAp h2 {
    font-size: 2.5rem;
  }
}
.containerCv .hobbies .titleAp .l4 {
  width: 80%;
  height: 0.2rem;
  background-color: #218e96;
  margin-bottom: 2rem;
}
.containerCv .hobbies .titleAp .logExp {
  position: absolute;
  right: 3%;
  top: 1%;
  background: #218e96;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 0.2rem solid #f1f1f1;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .containerCv .hobbies .titleAp .logExp {
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    top: -7%;
    right: -1%;
  }
}
.containerCv .hobbies .titleAp .logExp img {
  width: 90%;
  transform: rotate(25deg) translateX(0.5rem);
  filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
}
.containerCv .hobbies .wrap-hob {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 2;
  width: 100%;
}
.containerCv .hobbies .wrap-hob .hob {
  background: #f1f1f1;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 0.5rem;
  border: 0.4rem solid #218e96;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
  padding: 1.5rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 576px) {
  .containerCv .hobbies .wrap-hob .hob {
    width: 6rem;
    height: 6rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }
}
.containerCv .hobbies .wrap-hob .hob img {
  width: 100%;
  filter: invert(0%) sepia(8%) saturate(0%) hue-rotate(137deg) brightness(98%) contrast(101%);
}
@media screen and (max-width: 992px) {
  .containerCv .hobbies .wrap-hob .hob img {
    filter: none;
  }
}
.containerCv .hobbies .wrap-hob .hob img:hover {
  filter: none;
}
.containerCv .hobbies .wrap-hob .hob:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.contact-title {
  padding-top: 10rem;
  text-align: center;
  font-family: Abril fatface, sans-serif;
}
@media screen and (max-width: 992px) {
  .contact-title {
    padding-top: 3rem;
  }
}

.wrap-section {
  background: #333 url("../img/bgContacts.jpg") center/cover no-repeat;
  display: flex;
  height: 80vh;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .wrap-section {
    flex-direction: column;
    height: 120vh;
  }
}
@media screen and (max-width: 576px) {
  .wrap-section {
    height: 145vh;
  }
}
.wrap-section .coordinate {
  padding: 5rem 1rem 0 1rem;
  background-color: rgba(241, 241, 241, 0.3960784314);
  margin: 5rem;
  border-radius: 2rem;
  width: 30%;
  margin: 2.5%;
}
@media screen and (max-width: 992px) {
  .wrap-section .coordinate {
    width: 70%;
    margin: 2.5% 15%;
  }
}
.wrap-section .coordinate .section {
  display: flex;
  padding: 1.5rem;
}
.wrap-section .coordinate .section img {
  width: 3rem;
  margin-right: 2rem;
}
@media screen and (max-width: 576px) {
  .wrap-section .coordinate .section img {
    width: 2rem;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .wrap-section .coordinate .section h3 {
    font-size: 1.3rem;
  }
}
.wrap-section form {
  font-family: Abril fatface, sans-serif;
  width: 60%;
  background-color: rgba(241, 241, 241, 0.3960784314);
  padding: 5rem;
  border-radius: 2rem;
  margin: 2.5%;
}
@media screen and (max-width: 992px) {
  .wrap-section form {
    width: 70%;
    margin: 2.5% 15%;
  }
}
@media screen and (max-width: 1200px) {
  .wrap-section form .wrap-form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .wrap-section form .wrap-form-group {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .wrap-section form .wrap-form-group {
    flex-direction: column;
  }
}
.wrap-section form .wrap-form-group .column-form-group {
  display: flex;
}
@media screen and (max-width: 992px) {
  .wrap-section form .wrap-form-group .column-form-group {
    flex-direction: column;
    margin: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .wrap-section form .wrap-form-group .column-form-group {
    margin: 0;
  }
}
.wrap-section form .wrap-form-group .column-form-group .form-group {
  color: #333;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 1rem #fafafa;
}
.wrap-section form .wrap-form-group .column-form-group .form-group input {
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  background: #fafafa;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  padding: 1rem;
  width: 40rem;
  font-family: Abril fatface, sans-serif;
  width: 28rem;
  height: 3rem;
}
@media screen and (max-width: 1200px) {
  .wrap-section form .wrap-form-group .column-form-group .form-group input {
    width: 20rem;
  }
}
@media screen and (max-width: 992px) {
  .wrap-section form .wrap-form-group .column-form-group .form-group input {
    width: 25rem;
  }
}
@media screen and (max-width: 992px) {
  .wrap-section form .wrap-form-group .column-form-group .form-group input {
    width: 20rem;
  }
}
.wrap-section form .wrap-form-group .column-form-group .form-group label {
  margin-left: 5rem;
}

.textarea-btn {
  width: 100%;
}
.textarea-btn .form-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}
.textarea-btn .form-group textarea {
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  background: #fafafa;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  padding: 1rem;
  width: 40rem;
  font-family: Abril fatface, sans-serif;
  width: 80%;
  height: 10rem;
  margin: 1rem 10% 5rem 10%;
}
.textarea-btn .form-group label {
  color: #333;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 1rem #fafafa;
}
.textarea-btn .submit {
  width: 40%;
  margin-left: 30%;
  height: 8rem;
  font-family: Abril fatface, sans-serif;
  font-size: 4rem;
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  background: #218e96;
  color: #fafafa;
  box-shadow: 1rem 1rem 1rem black;
}
.textarea-btn .submit:hover {
  background: #414141;
  color: #218e96;
}
.textarea-btn .submit:active {
  margin-top: 0.7rem;
  box-shadow: 0 0 0 #8e8d8d;
}
@media screen and (max-width: 576px) {
  .textarea-btn .submit {
    font-size: 2rem;
  }
}

.main {
  width: 100%;
}
.main .wrapProjects {
  height: 200vh;
  background: #333 url("../img/wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects {
    height: 135vh;
  }
}
@media screen and (max-width: 992px) {
  .main .wrapProjects {
    height: 115vh;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects {
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects {
    height: 100vh;
  }
}
.main .wrapProjects p {
  font-family: "Playfair Display", serif;
  font-size: 12rem;
  margin: 0;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects p {
    font-size: 8rem;
  }
}
@media screen and (max-width: 992px) {
  .main .wrapProjects p {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects p {
    font-size: 4rem;
  }
}
.main .wrapProjects p a {
  text-shadow: 0.4rem 0.4rem 0.3rem rgba(95, 94, 94, 0.774);
  background-color: rgba(241, 241, 241, 0.5058823529);
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #333;
}
.main .wrapProjects p:nth-child(1) {
  top: 13rem;
  left: 65rem;
  z-index: 1;
}
.main .wrapProjects p:nth-child(1) a {
  color: #032366;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects p:nth-child(1) {
    left: 65rem;
  }
}
@media screen and (max-width: 992px) {
  .main .wrapProjects p:nth-child(1) {
    left: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects p:nth-child(1) {
    left: 40rem;
  }
}
@media screen and (max-width: 576px) {
  .main .wrapProjects p:nth-child(1) {
    left: 20rem;
  }
}
.main .wrapProjects p:nth-child(2) {
  top: 35rem;
  left: 2rem;
  z-index: 1;
}
.main .wrapProjects p:nth-child(2) a {
  color: #163f99;
}
@media screen and (max-width: 576px) {
  .main .wrapProjects p:nth-child(2) {
    top: 20rem;
  }
}
.main .wrapProjects p:nth-child(3) {
  top: 60rem;
  left: 65rem;
  z-index: 2;
}
.main .wrapProjects p:nth-child(3) a {
  color: #4874d1;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects p:nth-child(3) {
    left: 55rem;
  }
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects p:nth-child(3) {
    left: 45rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects p:nth-child(3) {
    top: 48rem;
    left: 37rem;
  }
}
@media screen and (max-width: 576px) {
  .main .wrapProjects p:nth-child(3) {
    left: 17rem;
  }
}
.main .wrapProjects p:nth-child(4) {
  top: 105rem;
  left: 35rem;
  z-index: 3;
}
.main .wrapProjects p:nth-child(4) a {
  color: #218e96;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects p:nth-child(4) {
    left: 15rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects p:nth-child(4) {
    top: 72rem;
    left: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .main .wrapProjects p:nth-child(4) {
    top: 65rem;
    left: 2rem;
  }
}
.main .wrapProjects p:nth-child(5) {
  top: 145rem;
  left: 85rem;
  z-index: 4;
}
.main .wrapProjects p:nth-child(5) a {
  color: #8ba8e7;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects p:nth-child(5) {
    left: 65rem;
  }
}
@media screen and (max-width: 992px) {
  .main .wrapProjects p:nth-child(5) {
    left: 45rem;
    top: 130rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects p:nth-child(5) {
    top: 95rem;
    left: 42rem;
  }
}
@media screen and (max-width: 576px) {
  .main .wrapProjects p:nth-child(5) {
    top: 85rem;
    left: 23rem;
  }
}
.main .wrapProjects .logoMM {
  top: 50rem;
  left: 40rem;
  position: absolute;
}
.main .wrapProjects .logoMM img {
  filter: invert(90%) sepia(1%) saturate(0%) hue-rotate(151deg) brightness(85%) contrast(84%) opacity(50%);
}
.main .wrapProjects .logoMM1 {
  top: 50rem;
  left: 58rem;
}
.main .wrapProjects .logoMM1 img {
  width: 20rem;
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .logoMM1 {
    display: none;
  }
}
.main .wrapProjects .logoMM2 {
  top: 30rem;
  left: 70rem;
}
.main .wrapProjects .logoMM2 img {
  width: 10rem;
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .logoMM2 {
    top: 28rem;
    left: 15rem;
  }
}
.main .wrapProjects .logoMM3 {
  top: 75rem;
  left: 90rem;
}
.main .wrapProjects .logoMM3 img {
  width: 15rem;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects .logoMM3 {
    left: 8rem;
  }
}
.main .wrapProjects .logoMM4 {
  top: 90rem;
  left: 5rem;
}
.main .wrapProjects .logoMM4 img {
  width: 5rem;
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .logoMM4 {
    display: none;
  }
}
.main .wrapProjects .logoMM5 {
  top: 100rem;
  left: 120rem;
}
.main .wrapProjects .logoMM5 img {
  width: 5rem;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects .logoMM5 {
    left: 68rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .logoMM5 {
    display: none;
  }
}
.main .wrapProjects .logoMM6 {
  top: 115rem;
  left: 35rem;
}
.main .wrapProjects .logoMM6 img {
  width: 15rem;
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .logoMM6 {
    display: none;
  }
}
.main .wrapProjects .logoMM7 {
  top: 120rem;
  left: 15rem;
}
.main .wrapProjects .logoMM7 img {
  width: 10rem;
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .logoMM7 {
    display: none;
  }
}
.main .wrapProjects .logoMM8 {
  top: 100rem;
  left: 50rem;
}
.main .wrapProjects .logoMM8 img {
  width: 15rem;
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .logoMM8 {
    display: none;
  }
}
.main .wrapProjects .box {
  position: absolute;
  box-shadow: 0.5rem 0.5rem 0.4rem #333;
  width: 40%;
}
.main .wrapProjects .box img {
  width: 100%;
  padding: 2%;
}
.main .wrapProjects .box1 {
  top: 10rem;
  left: 5rem;
  background: #032366;
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .box1 {
    top: 10rem;
    left: 1rem;
  }
}
.main .wrapProjects .box2 {
  top: 35rem;
  left: 105rem;
  background: #163f99;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects .box2 {
    left: 65rem;
  }
}
@media screen and (max-width: 992px) {
  .main .wrapProjects .box2 {
    left: 45rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .box2 {
    top: 28rem;
    left: 35rem;
  }
}
@media screen and (max-width: 576px) {
  .main .wrapProjects .box2 {
    top: 28rem;
    left: 20rem;
  }
}
.main .wrapProjects .box3 {
  top: 60rem;
  left: 15rem;
  background: #4874d1;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects .box3 {
    left: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .box3 {
    top: 45rem;
    left: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .main .wrapProjects .box3 {
    top: 35rem;
    left: 1rem;
  }
}
.main .wrapProjects .box4 {
  top: 90rem;
  left: 100rem;
  background: #218e96;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects .box4 {
    left: 62rem;
  }
}
@media screen and (max-width: 992px) {
  .main .wrapProjects .box4 {
    left: 40rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .box4 {
    top: 70rem;
    left: 35rem;
  }
}
@media screen and (max-width: 576px) {
  .main .wrapProjects .box4 {
    top: 60rem;
    left: 20rem;
  }
}
.main .wrapProjects .box5 {
  top: 110rem;
  left: 25rem;
  background: #8ba8e7;
}
@media screen and (max-width: 1200px) {
  .main .wrapProjects .box5 {
    left: 10rem;
    top: 125rem;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapProjects .box5 {
    top: 87rem;
    left: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .main .wrapProjects .box5 {
    top: 75rem;
    left: 1rem;
  }
}
.main .db {
  padding-top: 150rem;
}
.main .db .products h1 {
  font-family: Abril fatface, sans-serif;
  font-size: 5rem;
  color: black;
}
.main .db .products img {
  width: 50rem;
}

img {
  width: 2rem;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;
  background: #fafafa;
  box-shadow: inset 0rem -0.1rem 0rem rgba(197, 197, 198, 0.8823529412);
  z-index: 6;
}
@media screen and (max-width: 992px) {
  nav {
    padding: 1.5rem 2rem;
    position: relative;
  }
}

.nav-icon {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
@media screen and (max-width: 992px) {
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }
}
.nav-icon span {
  font-family: Abril fatface, sans-serif;
  font-size: 2.5rem;
  margin-left: 1rem;
  font-weight: 400;
  color: #333;
}
@media screen and (max-width: 992px) {
  .nav-icon span {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 992px) {
  .nav-icon span {
    font-size: 2rem;
  }
}
.nav-icon img {
  width: 4rem;
  transform: rotate(-17deg) translateX(0.5rem);
}
@media screen and (max-width: 576px) {
  .nav-icon img {
    width: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .main-navlinks {
    order: 1;
  }
}
.main-navlinks .hamburger {
  display: none;
}
@media screen and (max-width: 992px) {
  .main-navlinks .hamburger {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa;
    align-items: center;
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  .main-navlinks .hamburger span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
}
@media screen and (max-width: 992px) {
  .main-navlinks .hamburger span:nth-child(1) {
    transform: translateY(0.7rem);
  }
}
@media screen and (max-width: 992px) {
  .main-navlinks .hamburger span:nth-child(3) {
    transform: translateY(-0.7rem);
  }
}

@media screen and (max-width: 992px) {
  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #fafafa;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 1.5rem 5rem 1.5rem 2rem;
    border-right: 0.1rem solid #333;
    transform: translate(-100%);
    transition: transform 0.3s ease-out;
  }
}
.navlinks-container a {
  margin: 1rem 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #414141;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 992px) {
  .navlinks-container a {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}
.navlinks-container a:hover {
  color: #218e96;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.3rem;
  width: 100%;
  height: 0.1rem;
  transform: scaleX(0);
  transform-origin: left;
  background: #218e96;
  transition: transform 0.3s ease-out;
}
.navlinks-container a:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 992px) {
  .hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
}

@media screen and (max-width: 992px) {
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
}

@media screen and (max-width: 992px) {
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
}

@media screen and (max-width: 992px) {
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
}

.nav-authentifications {
  margin-left: auto;
}
@media screen and (max-width: 992px) {
  .nav-authentifications {
    order: 3;
    margin-left: 0;
  }
}
.nav-authentifications .sign-user {
  padding: 0.5rem;
}
@media screen and (max-width: 992px) {
  .nav-authentifications .sign-user {
    cursor: pointer;
    border: none;
    padding: 0;
  }
}
.nav-authentifications .sign-user img {
  width: 3rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 992px) {
  .nav-authentifications .sign-user img {
    width: 2rem;
  }
}
.nav-authentifications .sign-user:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  filter: invert(44%) sepia(58%) saturate(541%) hue-rotate(136deg) brightness(94%) contrast(90%);
}

@media screen and (max-width: 992px) {
  .open {
    transform: translate(0%);
  }
}

.bgDetail {
  background: url("../img/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.bgDetail h1 {
  font-family: Abril fatface, sans-serif;
  padding-top: 10rem;
  text-align: center;
  font-size: 8rem;
  color: #218e96;
  text-shadow: 0.3rem 0.3rem rgba(197, 197, 198, 0.8823529412);
  background-color: rgba(255, 255, 255, 0.26);
}
@media screen and (max-width: 768px) {
  .bgDetail h1 {
    font-size: 5rem;
    padding-top: 3rem;
  }
}
.bgDetail .work-details {
  padding: 0 3rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .bgDetail .work-details {
    flex-direction: column;
    align-items: center;
  }
}
.bgDetail .work-details .picturesProject img {
  margin-top: 10rem;
  width: 90rem;
  padding: 3rem;
  background-color: #218e96;
  box-shadow: 0.5rem 0.5rem 1rem #333;
}
@media screen and (max-width: 992px) {
  .bgDetail .work-details .picturesProject img {
    width: 70rem;
    padding: 2rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .bgDetail .work-details .picturesProject img {
    width: 50rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .bgDetail .work-details .picturesProject img {
    width: 30rem;
  }
}
.bgDetail .work-details .txtProject {
  background-color: rgba(241, 241, 241, 0.6901960784);
  border-radius: 2rem;
  margin: 12rem 5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  box-shadow: 0.5rem 0.5rem 1rem #333;
}
@media screen and (max-width: 768px) {
  .bgDetail .work-details .txtProject {
    margin: 5rem 3rem;
    padding: 1rem;
  }
}
.bgDetail .work-details .txtProject .responsive {
  display: flex;
}
.bgDetail .work-details .txtProject .responsive .wrap-resp {
  background: #218e96;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 2rem;
  border: 0.1rem solid #f1f1f1;
  box-shadow: 0.3rem 0.7rem 0.5rem #8e8d8d;
}
.bgDetail .work-details .txtProject .responsive .wrap-resp img {
  width: 100%;
  padding: 1rem;
  filter: invert(100%) sepia(0%) saturate(5541%) hue-rotate(130deg) brightness(121%) contrast(82%);
}
.bgDetail .work-details .txtProject p {
  text-align: center;
  margin: 3rem 0 0 0;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .bgDetail .work-details .txtProject p {
    font-size: 1.5rem;
  }
}
.bgDetail .work-details .txtProject p a {
  border: 0.2rem solid #f1f1f1;
  border-radius: 1rem;
  background: rgba(237, 237, 237, 0.4);
  font-size: 3rem;
  padding: 2rem;
  box-shadow: 1rem 1rem 0.5rem #333;
  margin: 0.5rem 3rem;
  background-color: #218e96;
  color: #fafafa;
  display: inline;
  flex-wrap: nowrap;
}
.bgDetail .work-details .txtProject p a:active {
  margin-top: 0.7rem;
  box-shadow: 0 0 0 #8e8d8d;
}
@media screen and (max-width: 1200px) {
  .bgDetail .work-details .txtProject p a {
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    right: 2%;
  }
}
@media screen and (max-width: 576px) {
  .bgDetail .work-details .txtProject p a {
    width: 80%;
  }
}
.bgDetail .work-details .txtProject h2 {
  margin-top: 5rem;
  font-family: Abril fatface, sans-serif;
  font-size: 4rem;
  color: #218e96;
}
.bgDetail .techno img {
  width: 20rem;
  height: 20rem;
}

/*  Effet au clic */
/* Anim input */
.acceuil {
  width: 100%;
  height: 100vh;
  background: #333 url("../img/acceuil.jpg") center/cover no-repeat;
}
.acceuil .lignes {
  position: absolute;
  top: 6%;
  left: 5%;
}
.acceuil .lignes .l1 {
  width: 110rem;
  height: 0.3rem;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .acceuil .lignes .l1 {
    width: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .acceuil .lignes .l1 {
    width: 30rem;
  }
}
.acceuil .lignes .l2 {
  width: 80rem;
  height: 0.3rem;
  background: #f1f1f1;
  border-radius: 0.5rem;
  position: relative;
  top: 2rem;
}
@media screen and (max-width: 1200px) {
  .acceuil .lignes .l2 {
    width: 40rem;
  }
}
@media screen and (max-width: 768px) {
  .acceuil .lignes .l2 {
    width: 20rem;
  }
}
.acceuil .lignes .l3 {
  width: 50rem;
  height: 0.3rem;
  background: #f1f1f1;
  border-radius: 0.5rem;
  position: relative;
  top: 4rem;
}
@media screen and (max-width: 1200px) {
  .acceuil .lignes .l3 {
    width: 30rem;
  }
}
@media screen and (max-width: 768px) {
  .acceuil .lignes .l3 {
    width: 10rem;
  }
}
.acceuil .container-first {
  position: absolute;
  top: 15%;
  left: 5%;
}
@media screen and (max-width: 1200px) {
  .acceuil .container-first {
    top: 25%;
  }
}
.acceuil .container-first h1 {
  font-size: 5rem;
  color: #f1f1f1;
  text-transform: uppercase;
  color: #f1f1f1;
  margin-top: 15rem;
}
@media screen and (max-width: 1200px) {
  .acceuil .container-first h1 {
    font-size: 4rem;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .acceuil .container-first h1 {
    font-size: 1.5rem;
  }
}
.acceuil .container-first h1 span {
  position: relative;
  font-family: Abril fatface, sans-serif;
}
.acceuil .container-btns {
  position: fixed;
  bottom: 30%;
}
@media screen and (max-width: 992px) {
  .acceuil .container-btns {
    bottom: 20%;
  }
}
.acceuil .container-btns .btn-first {
  outline: none;
  width: 30rem;
  border: 0.2rem solid #f1f1f1;
  border-radius: 1rem;
  background: rgba(237, 237, 237, 0.4);
  font-size: 3rem;
  padding: 2rem;
  box-shadow: 1rem 1rem 0.5rem #333;
  margin: 0.5rem 3rem;
  margin: 0;
  cursor: pointer;
}
.acceuil .container-btns .btn-first:active {
  margin-top: 0.7rem;
  box-shadow: 0 0 0 #8e8d8d;
}
@media screen and (max-width: 1200px) {
  .acceuil .container-btns .btn-first {
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    right: 2%;
  }
}
@media screen and (max-width: 576px) {
  .acceuil .container-btns .btn-first {
    width: 80%;
  }
}
.acceuil .container-btns .btn-first:hover img {
  filter: invert(100%) sepia(7%) saturate(271%) hue-rotate(269deg) brightness(113%) contrast(89%);
}
.acceuil .container-btns .btn-first:hover a {
  color: black;
  text-align: justify;
}
.acceuil .container-btns .btn-first img {
  width: 3rem;
  margin-right: 1rem;
}
@media screen and (max-width: 1200px) {
  .acceuil .container-btns .btn-first img {
    width: 1.5rem;
  }
}
.acceuil .container-btns .btn-first a {
  color: black;
  text-align: justify;
}
.acceuil .container-btns .btn-first .btn-p {
  margin-bottom: 5rem;
}
.acceuil .container-btns .btn-first:active {
  margin-top: 0.7rem;
  box-shadow: 0 0 0 #8e8d8d;
}
.acceuil .container-btns .btn-first:nth-child(1) {
  margin-right: 3rem;
}
.acceuil .container-btns .btn-first:nth-child(2) {
  margin-right: 3rem;
}
.acceuil .container-btns .btn-first:hover {
  background: #218e96;
}
.acceuil .container-btns .btn-first:hover a {
  color: #f1f1f1;
}
.acceuil .logo {
  position: absolute;
  right: 2.9%;
  top: 4%;
  width: 18rem;
  height: 18rem;
  cursor: pointer;
  transform: scale(1.3);
}
@media screen and (max-width: 768px) {
  .acceuil .logo {
    width: 5rem;
    margin-right: 8%;
  }
}
.acceuil .medias {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 30%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  .acceuil .medias {
    flex-direction: row;
    top: 25%;
  }
}
@media screen and (max-width: 576px) {
  .acceuil .medias {
    flex-direction: row;
    top: 25%;
    right: -29%;
  }
}
.acceuil .medias .bulle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 0.2rem solid #218e96;
  box-shadow: 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .acceuil .medias .bulle {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .acceuil .medias .bulle {
    margin: 0.1rem 1rem;
  }
}
.acceuil .medias .bulle .logo-medias {
  width: 4rem;
  height: 4rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .acceuil .medias .bulle .logo-medias {
    width: 3rem;
    height: 3rem;
  }
}
.acceuil .medias .bulle:hover .logo-medias {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  filter: invert(44%) sepia(58%) saturate(541%) hue-rotate(136deg) brightness(94%) contrast(90%);
}

/*# sourceMappingURL=main.css.map */
