@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background: rgba(114, 114, 114, 0.219);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #222;
}

.letter-container {
  text-align: center;
  perspective: 100rem;
}
.letter-container h1 {
  font-family: "Playfair Display", serif;
  transform-style: preserve-3d;
  display: inline-flex;
  margin-top: 20rem;
  color: #333;
  font-weight: 100;
  letter-spacing: 1rem;
  font-size: 10rem;
  cursor: pointer;
  text-transform: uppercase;
}
.letter-container h1 span {
  pointer-events: none;
}

.contact-title {
  padding-top: 10rem;
  text-align: center;
  font-family: Abril fatface, sans-serif;
}

form {
  font-family: Abril fatface, sans-serif;
  background: #333 url("../img/bgContacts.jpg") center/cover no-repeat;
  padding-top: 5rem;
  width: 100%;
  height: 79vh;
}
form .wrap-form-group {
  width: 80%;
  margin-left: 10%;
}
form .wrap-form-group .column-form-group {
  display: flex;
}
form .wrap-form-group .column-form-group .form-group {
  color: #fafafa;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 1rem #333;
}
form .wrap-form-group .column-form-group .form-group input {
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  background: #fafafa;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  width: 40rem;
  height: 3rem;
}

.textarea-btn .form-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
}
.textarea-btn .form-group textarea {
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  background: #fafafa;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  width: 80%;
  margin: 1rem 10% 5rem 10%;
}
.textarea-btn .form-group label {
  color: #fafafa;
  font-size: 2rem;
}
.textarea-btn .submit {
  width: 40%;
  margin-left: 30%;
  height: 8rem;
  font-family: Abril fatface, sans-serif;
  font-size: 4rem;
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  background: #333;
  color: #fafafa;
  box-shadow: 1rem 1rem 1rem black;
}
.textarea-btn .submit:hover {
  background: #414141;
}

.wrapProjects {
  background: rgb(182, 71, 71);
}
.wrapProjects p {
  font-family: "Playfair Display", serif;
  font-size: 12rem;
  margin: 0;
  position: absolute;
}
.wrapProjects p:nth-child(1) {
  top: 10rem;
  left: 65rem;
  color: #591e98;
}
.wrapProjects p:nth-child(2) {
  top: 35rem;
  left: 2rem;
  color: #005300;
  z-index: 1;
}
.wrapProjects p:nth-child(3) {
  top: 60rem;
  left: 65rem;
  color: #fcce04;
  z-index: 2;
}
.wrapProjects p:nth-child(4) {
  top: 105rem;
  left: 35rem;
  color: #990e10;
  z-index: 3;
}
.wrapProjects p:nth-child(5) {
  top: 145rem;
  left: 85rem;
  color: rgb(33, 142, 150);
  z-index: 4;
}
.wrapProjects .box {
  position: absolute;
}
.wrapProjects .box1 {
  top: 10rem;
  left: 5rem;
  background: #591e98;
}
.wrapProjects .box1 img {
  width: 40rem;
  padding: 2rem;
}
.wrapProjects .box2 {
  top: 35rem;
  left: 105rem;
  background: #005300;
}
.wrapProjects .box2 img {
  width: 40rem;
  padding: 2rem;
}
.wrapProjects .box3 {
  top: 60rem;
  left: 15rem;
  background: #fcce04;
}
.wrapProjects .box3 img {
  width: 40rem;
  padding: 2rem;
}
.wrapProjects .box4 {
  top: 90rem;
  left: 100rem;
  background: #990e10;
}
.wrapProjects .box4 img {
  width: 40rem;
  padding: 2rem;
}
.wrapProjects .box5 {
  top: 115rem;
  left: 25rem;
  background: rgb(33, 142, 150);
}
.wrapProjects .box5 img {
  width: 40rem;
  padding: 2rem;
}

img {
  width: 2rem;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;
  background: #fafafa;
  box-shadow: inset 0rem -0.1rem 0rem #c5c5c6;
  z-index: 5;
}
@media screen and (max-width: 992px) {
  nav {
    padding: 1.5rem 2rem;
    position: relative;
  }
}

.nav-icon {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
@media screen and (max-width: 992px) {
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }
}
.nav-icon span {
  font-family: Abril fatface, sans-serif;
  font-size: 2.5rem;
  margin-left: 1rem;
  font-weight: 400;
  color: #333;
}
@media screen and (max-width: 992px) {
  .nav-icon span {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 992px) {
  .nav-icon span {
    font-size: 2rem;
  }
}
.nav-icon img {
  width: 4rem;
  transform: rotate(-17deg) translateX(0.5rem);
}
@media screen and (max-width: 576px) {
  .nav-icon img {
    width: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .main-navlinks {
    order: 1;
  }
}
.main-navlinks .hamburger {
  display: none;
}
@media screen and (max-width: 992px) {
  .main-navlinks .hamburger {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa;
    align-items: center;
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  .main-navlinks .hamburger span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
}
@media screen and (max-width: 992px) {
  .main-navlinks .hamburger span:nth-child(1) {
    transform: translateY(0.7rem);
  }
}
@media screen and (max-width: 992px) {
  .main-navlinks .hamburger span:nth-child(3) {
    transform: translateY(-0.7rem);
  }
}

@media screen and (max-width: 992px) {
  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #fafafa;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 1.5rem 5rem 1.5rem 2rem;
    border-right: 0.1rem solid #333;
    transform: translate(-100%);
    transition: transform 0.3s ease-out;
  }
}
.navlinks-container a {
  margin: 1rem 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #414141;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 992px) {
  .navlinks-container a {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.3rem;
  width: 100%;
  height: 0.1rem;
  transform: scaleX(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}
.navlinks-container a:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 992px) {
  .hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
}

@media screen and (max-width: 992px) {
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
}

@media screen and (max-width: 992px) {
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
}

@media screen and (max-width: 992px) {
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
}

.nav-authentifications {
  margin-left: auto;
}
@media screen and (max-width: 992px) {
  .nav-authentifications {
    order: 3;
    margin-left: 0;
  }
}
.nav-authentifications .sign-btns button {
  font-size: 1.6rem;
  min-width: 9rem;
  padding: 0.1rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 992px) {
  .nav-authentifications .sign-btns button {
    display: none;
  }
}
.nav-authentifications .sign-btns button:nth-child(2) {
  border: none;
  background: rgba(146, 195, 238, 0.7176470588);
}
.nav-authentifications .sign-user {
  display: none;
}
@media screen and (max-width: 992px) {
  .nav-authentifications .sign-user {
    display: block;
    cursor: pointer;
    border: none;
  }
}
@media screen and (max-width: 992px) {
  .nav-authentifications .sign-user img {
    width: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .open {
    transform: translate(0%);
  }
}

/*  Effet au clic */
/* Anim input */
.acceuil {
  width: 100%;
  height: 100vh;
  background: #333 url("../img/acceuil.jpg") center/cover no-repeat;
}
.acceuil .lignes {
  position: absolute;
  top: 6%;
  left: 5%;
}
.acceuil .lignes .l1 {
  width: 110rem;
  height: 0.3rem;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.acceuil .lignes .l2 {
  width: 80rem;
  height: 0.3rem;
  background: #f1f1f1;
  border-radius: 0.5rem;
  position: relative;
  top: 2rem;
}
.acceuil .lignes .l3 {
  width: 50rem;
  height: 0.3rem;
  background: #f1f1f1;
  border-radius: 0.5rem;
  position: relative;
  top: 4rem;
}
.acceuil .container-first {
  position: absolute;
  top: 30%;
  left: 5%;
}
.acceuil .container-first h1 {
  font-size: 5rem;
  padding-left: 10rem;
  color: #f1f1f1;
  text-transform: uppercase;
  color: #f1f1f1;
}
.acceuil .container-first h1 span {
  position: relative;
  font-family: Abril fatface, sans-serif;
}
.acceuil .container-btns {
  position: relative;
  top: 8rem;
  padding-left: 10rem;
}
.acceuil .container-btns a {
  color: #f1f1f1;
}
.acceuil .container-btns .btn-first {
  border: 0.2rem solid #f1f1f1;
  border-radius: 1rem;
  outline: none;
  background: rgba(237, 237, 237, 0.2);
  font-size: 3rem;
  padding: 2rem;
  width: 30rem;
  cursor: pointer;
}
.acceuil .container-btns .btn-first:nth-child(1) {
  margin-right: 3rem;
}
.acceuil .container-btns .btn-first:nth-child(2) {
  margin-right: 3rem;
}
.acceuil .container-btns .btn-first:hover {
  transition: all 0.3s ease-in-out;
  background: #f1f1f1;
}
.acceuil .container-btns .btn-first:hover a {
  color: #333;
}
.acceuil .logo {
  position: absolute;
  right: 2.9%;
  top: 4%;
  width: 18rem;
  height: 18rem;
  cursor: pointer;
}
.acceuil .medias {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 30%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.acceuil .medias .bulle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 0.2rem solid #f1f1f1;
  box-shadow: 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}
.acceuil .medias .bulle .logo-medias {
  width: 4rem;
  height: 4rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.acceuil .medias .bulle:hover .logo-medias {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*# sourceMappingURL=main.css.map */
